.titre{
    background-image: url(oran.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top:  100px; ;
    display: flex;
    justify-content: center;
}
.titre{
    animation: moveImage 4s ease-out forwards;
}
.text{
    height: 120px;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;
    background-color: rgba(0,0,0, 0.5);

}
.first {
    animation: hi 2s ease-in-out forwards;
    opacity: 0;
    transform: translateY(-20px);


}
@keyframes hi{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveImage{ 
    form{
        background-position: center top;
    }
    to{
        background-position: center bottom;
    }
}


